<?xml version="1.0" encoding="UTF-8"?>
<!--
 Tolomeo is a developing framework for visualization, editing,  
 geoprocessing and decisional support application based on cartography.
 
 Tolomeo Copyright 2011 Comune di Prato;
 
 This file is part of Tolomeo.
 
 Tolomeo is free software; you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License 
 as published by the Free Software Foundation; either version 3 of the License, 
 or (at your option) any later version.
 
 Tolomeo is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
 FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.
 
 You should have received a copy of the GNU Lesser General Public License along with Tolomeo; 
 if not, write to the Free Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110­1301  USA
 
 Developers Information:
 
 Tolomeo is developed by Comune di Prato
 
 Alessandro Radaelli
 Federico Nieri
 Mattia Gennari
 
 sit@comune.prato.it 
 
 
 Versione in Italiano LGPL
 
 Tolomeo è un framework per lo sviluppo di applicazioni per
 visualizzazione, editing, geoprocessing e supporto alla decisione basate su cartografia.
 
 Tolomeo Copyright 2011 Comune di Prato;
 
 Questo file fa parte di Tolomeo.
 
 Tolomeo è un software libero; è possibile redistribuirlo e / o 
 modificarlo sotto i termini della GNU Lesser General Public License, 
 come pubblicato dalla Free Software Foundation, sia la versione 3 della licenza o (a propria scelta) una versione successiva.
  
 Tolomeo è distribuito nella speranza che possa essere utile,
 ma SENZA ALCUNA GARANZIA, senza neppure la garanzia implicita di COMMERCIABILITÀ o
 IDONEITÀ PER UN PARTICOLARE SCOPO. Vedere la GNU Lesser General Public License per ulteriori dettagli.
 
 Si dovrebbe avere ricevuto una copia della GNU Lesser General Public insieme a Tolomeo, in caso contrario, 
 si scriva alla Free Software  Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110­1301 USA
   
 
 Informazioni Sviluppatori:
 
 Tolomeo è sviluppato dal Comune di Prato
 
 Alessandro Radaelli
 Federico Nieri
 Mattia Gennari
 
 sit@comune.prato.it
-->
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
    <!-- pick up all spring application contexts -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            classpath*:applicationContext.xml
        </param-value>
	</context-param>

	<!--
      - Loads the root application context of this web app at startup.
      - The application context is then available via
      - WebApplicationContextUtils.getWebApplicationContext(servletContext).
    -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<listener> 
 	    <listener-class>it.prato.comune.tolomeo.web.TolomeoContextListener</listener-class> 
 	</listener>
 	
<!-- 	<listener>  -->
<!--  	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>  -->
<!--  	</listener> -->
 	
 	<!-- Utilizzato per security -->
<!-- 	<context-param> -->
<!-- 		<param-name>contextConfigLocation</param-name> -->
<!-- 		<param-value>/WEB-INF/spring/*-context.xml</param-value> -->
<!-- 	</context-param> -->
	
	<!-- 
	<login-config>
            <auth-method>BASIC</auth-method>
            <realm-name>YOUR REALM NAME</realm-name>
    </login-config>
	
	<security-constraint>
		    <web-resource-collection>
                    <web-resource-name>MRC Customer Care</web-resource-name>
                    <url-pattern>/*</url-pattern>
            </web-resource-collection> 
	   		<auth-constraint>
	       		<role-name>aaa</role-name>
	   		</auth-constraint>	   		
	</security-constraint>

 	<security-role>
		<role-name>aaa</role-name>
   	</security-role>
	 -->
	 
	<display-name>tolomeo_vh</display-name>
	
	<welcome-file-list>
		<!--welcome-file>/jsp/index.jsp</welcome-file-->   <!-- Comune di Prato -->
		<welcome-file>TolomeoMainServlet</welcome-file> <!-- Rilascio tolomeo -->
	</welcome-file-list>
	
	<session-config>
        <session-timeout>30</session-timeout>
    </session-config>
	
	<!-- Aggiunto per evitare errore nel recupero di i18n.jsp 
	     Vedi https://community.oracle.com/thread/1457920?start=0
	-->
	<mime-mapping>
		<extension>json</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>

	<!-- Path file di configurazione per inizializzare il contesto tolomeo.properties
	<context-param>
       <param-name>configFilePath</param-name>
        <param-value>C:/tolomeo/config/tolomeo.properties</param-value>
    </context-param>
    -->
    
    <!-- Filtro CORS per consentire accesso cross domain alla proxyServlet per consentire utilizzo per esempio in 3D quando pagine che includono tolomeo sono su altro dominio -->
    <!--
    <filter>
		<filter-name>CORS</filter-name>
		<filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
		-->
		<!-- 
		<init-param>
                <param-name>cors.allowOrigin</param-name>
                <param-value>http://example.com</param-value>
        </init-param>
         -->
         <!-- 
		<init-param>
                <param-name>cors.configurationFile</param-name>
                <param-value>/WEB-INF/config/cors.properties</param-value>
        </init-param>
        
	</filter>
	
	<filter-mapping>
        <filter-name>CORS</filter-name>
        <servlet-name>TolomeoProxyServlet</servlet-name>
	</filter-mapping>
	 -->
    <!-- Fine impostazioni filtro CORS --> 
     
    <filter>
        <filter-name>SetCharacterEncoding</filter-name>
        <filter-class>it.prato.comune.tolomeo.web.filter.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>ignore</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SetCharacterEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	<filter>
		<filter-name>ApplicationFilter</filter-name>
		<filter-class>it.prato.comune.tolomeo.web.filter.ApplicationFilter</filter-class>
	</filter>	
	<filter-mapping>
			<filter-name>ApplicationFilter</filter-name>
			<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- INIZIO Filtri per security  
		Devono stare dopo applicationFilter che crea  il contesto utilizzato per recuperare il logger -->  
	<!-- <filter>
		<filter-name>filterChainProxy</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>filterChainProxy</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>  -->
	  <!-- FINE Filtri per security -->
	 
	
	<!-- Commentare ServiceFilter quando si rilascia Tolomeo -->
	<filter>
		<filter-name>ServicesFilter</filter-name>
		<filter-class>it.prato.comune.tolomeo.servizi.ServicesFilter</filter-class>
	</filter>
	<filter-mapping>
			<filter-name>ServicesFilter</filter-name>
			<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!--
	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>it.prato.comune.tolomeo.web.filter.SessionFilter</filter-class>
	</filter>
	<filter-mapping>
			<filter-name>SessionFilter</filter-name>
			<url-pattern>/*</url-pattern>
	</filter-mapping>
	-->
	<filter>
		<filter-name>PreloadFilter</filter-name>
		<filter-class>it.prato.comune.tolomeo.web.filter.PreloadFilter</filter-class>
	</filter>
	<filter>
		<filter-name>UpdateWifiFilter</filter-name>
		<filter-class>it.prato.comune.tolomeo.servizi.wifi.UpdateWifiFilter</filter-class>
	</filter>	
	<filter-mapping>
			<filter-name>UpdateWifiFilter</filter-name>
			<url-pattern>/WifiMapProxyServlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
			<filter-name>PreloadFilter</filter-name>
			<url-pattern>/elettorale/VisualizzaSezioneServlet</url-pattern>
	</filter-mapping>
	<!--
	<filter-mapping>
			<filter-name>PreloadFilter</filter-name>
			<url-pattern>/shared/VisualizzaIntersectAnagrafeServlet</url-pattern>
	</filter-mapping>
	-->
	<filter-mapping>
			<filter-name>PreloadFilter</filter-name>
			<url-pattern>/shared/VisualizzaIntersectAnagrafePuntualeServlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
			<filter-name>PreloadFilter</filter-name>
			<url-pattern>/shared/CreaReportAnagrafeServlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
			<filter-name>PreloadFilter</filter-name>
			<url-pattern>/telefoniaMobile/VisualizzaImpiantoServlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
			<filter-name>PreloadFilter</filter-name>
			<url-pattern>/telefoniaMobile/GestioneReportServlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
			<filter-name>PreloadFilter</filter-name>
			<url-pattern>/asm/VisualizzaPiazzolaServlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
			<filter-name>PreloadFilter</filter-name>
			<url-pattern>/elettorale/VisualizzaStatisticaPoligonoServlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
			<filter-name>PreloadFilter</filter-name>
			<url-pattern>/pubblicaIstruzione/VisualizzaPlessoInfanziaServlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
			<filter-name>PreloadFilter</filter-name>
			<url-pattern>/pubblicaIstruzione/VisualizzaPlessoPrimariaServlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
			<filter-name>PreloadFilter</filter-name>
			<url-pattern>/pubblicaIstruzione/VisualizzaPlessoSecondariaPGServlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
			<filter-name>PreloadFilter</filter-name>
			<url-pattern>/pubblicaIstruzione/VisualizzaStatisticaSimulazioneServlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
			<filter-name>PreloadFilter</filter-name>
			<url-pattern>/edilizia/CaricaDatiDepositoServlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
			<filter-name>PreloadFilter</filter-name>
			<url-pattern>/censimento/StatisticaCensimentoServlet</url-pattern>
	</filter-mapping>

    
	<servlet>
	    <servlet-name>MirrorServlet</servlet-name>
	    <servlet-class>it.prato.comune.tolomeo.web.MirrorServlet</servlet-class>
	</servlet>
    <servlet>
		<servlet-name>CaricaDatiEsempioBaseServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.esempiobase.CaricaDatiEsempioBaseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GestioneEsempioBaseServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.esempiobase.GestioneEsempioBaseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VisualizzaEsempioBaseServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.esempiobase.VisualizzaEsempioBaseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ToloExtParamsJSServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.web.ToloExtParamsJSServlet</servlet-class>
	</servlet>
    <servlet>
		<servlet-name>MenuServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.web.MenuServlet</servlet-class>
	</servlet>
    <servlet>
		<servlet-name>FilterBuilderMetadataServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.web.FilterBuilderMetadataServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchExportServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.web.SearchExportServlet</servlet-class>
	</servlet>
    <servlet>
		<servlet-name>StyleManagerServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.web.StyleManagerServlet</servlet-class>
	</servlet>
    <servlet>
		<servlet-name>LayerItemServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.web.LayerItemServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UniqueValueServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.web.UniqueValueServlet</servlet-class>
	</servlet>
    <servlet>
		<servlet-name>AjaxGeometryValidationServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.web.AjaxGeometryValidationServlet</servlet-class>
	</servlet> 
    <servlet>
		<servlet-name>AjaxSpatialQueryServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.web.AjaxSpatialQueryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjaxQueryByIDServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.web.AjaxQueryByIDServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjaxWMSExplorerServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.web.AjaxWMSExplorerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjaxQueryServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.web.AjaxQueryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjaxSuggestServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.web.AjaxSuggestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjaxTOCLayerInfoServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.web.toc.AjaxTOCLayerInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjaxTOCServletExt</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.web.toc.AjaxTOCServletExt</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GeometryUpdateServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.web.GeometryUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TolomeoPrintServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.web.TolomeoPrintServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TolomeoPrintPDFServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.web.TolomeoPrintPDFServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StampaMappaServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.web.StampaMappaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestPrintServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.test.TestPrintServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TolomeoMainServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.web.TolomeoMainServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VisualizzaSezioneServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.elettorale.VisualizzaSezioneServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VisualizzaStatisticaPoligonoServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.elettorale.VisualizzaStatisticaPoligonoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VisualizzaIntersectAnagrafeServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.shared.VisualizzaIntersectAnagrafeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreaReportAnagrafeServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.shared.CreaReportAnagrafeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VisualizzaPiazzolaServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.asm.VisualizzaPiazzolaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CaricaDatiSinistroServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.poliziaMunicipale.CaricaDatiSinistroServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GestioneSinistroServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.poliziaMunicipale.GestioneSinistroServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VisualizzaSinistroServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.poliziaMunicipale.VisualizzaSinistroServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VisualizzaSinistroInforServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.poliziaMunicipale.VisualizzaSinistroInforServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InserisciUbicazioniServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.gss.InserisciUbicazioniServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CaricaDatiUbicazioniServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.gss.CaricaDatiUbicazioniServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InserisciZonaInterrogazServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.gss.InserisciZonaInterrogazServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CaricaDatiZonaInterrogazServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.gss.CaricaDatiZonaInterrogazServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VisualizzaPlessoInfanziaServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.pubblicaIstruzione.VisualizzaPlessoInfanziaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VisualizzaPlessoPrimariaServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.pubblicaIstruzione.VisualizzaPlessoPrimariaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VisualizzaPlessoSecondariaPGServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.pubblicaIstruzione.VisualizzaPlessoSecondariaPGServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VisualizzaStatisticaSimulazioneServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.pubblicaIstruzione.VisualizzaStatisticaSimulazioneServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreaReportServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.pubblicaIstruzione.CreaReportServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BambiniPlessiReportServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.pubblicaIstruzione.BambiniPlessiReportServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GestioneImpiantoServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.telefoniaMobile.GestioneImpiantoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CaricaDatiImpiantoServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.telefoniaMobile.CaricaDatiImpiantoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VisualizzaImpiantoServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.telefoniaMobile.VisualizzaImpiantoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GestioneReportServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.telefoniaMobile.reports.GestioneReportServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GestioneProgettoServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.ufficioStrade.glup.GestioneProgettoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GestioneAppaltoServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.ufficioStrade.glup.GestioneAppaltoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GestioneCantiereServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.ufficioStrade.glup.GestioneCantiereServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GestioneDittaServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.ufficioStrade.glup.GestioneDittaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GestioneReferenteServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.ufficioStrade.glup.GestioneReferenteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GestioneIncaricatoServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.ufficioStrade.glup.GestioneIncaricatoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GestioneDepositoServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.edilizia.GestioneDepositoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CaricaDatiDepositoServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.edilizia.CaricaDatiDepositoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VisualizzaDepositoServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.edilizia.VisualizzaDepositoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VisualizzaPrenotazioneServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.pau.VisualizzaPrenotazioneServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CaricaDatiPrenotazioneServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.pau.CaricaDatiPrenotazioneServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GestionePrenotazioneServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.pau.GestionePrenotazioneServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VisualizzaTipologiaServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.pau.VisualizzaTipologiaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GestioneTipologiaServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.pau.GestioneTipologiaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VisualizzaTrattaServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.fibreOttiche.VisualizzaTrattaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VisualizzaNodoServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.fibreOttiche.VisualizzaNodoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StatisticaCensimentoServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.censimento.StatisticaCensimentoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GestioneUbicazioneServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.pianoPubblicita.GestioneUbicazioneServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VisualizzaUbicazioneServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.pianoPubblicita.VisualizzaUbicazioneServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreaReportCimiteriServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.cimiteri.CreaReportCimiteriServlet</servlet-class>
	</servlet>
	
	
    <servlet>
    	<servlet-name>ZonaClasseOggettoServlet</servlet-name>
    	<servlet-class>it.prato.comune.tolomeo.servizi.pianoPubblicita.ZonaClasseOggettoServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>Servlet di visualizzazione della classe acustica</description>
    	<display-name>VisualizzaClasseAcusticaServlet</display-name>
    	<servlet-name>VisualizzaClasseAcusticaServlet</servlet-name>
    	<servlet-class>it.prato.comune.tolomeo.servizi.strumentiUrb.classificazioneAcustica.VisualizzaClasseAcusticaServlet</servlet-class>
    </servlet> 
    <servlet>
		<servlet-name>MapProxyServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.web.MapProxyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ElencoItinerariFaseServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.procivPianoNeve.ElencoItinerariFaseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VisualizzaItinerarioServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.procivPianoNeve.VisualizzaItinerarioServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		TolomeoProxyServlet</display-name>
		<servlet-name>TolomeoProxyServlet</servlet-name>
		<servlet-class>
		it.prato.comune.tolomeo.web.TolomeoProxyServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GestioneFabbricatiServlet</display-name>
		<servlet-name>GestioneFabbricatiServlet</servlet-name>
		<servlet-class>
		it.prato.comune.tolomeo.servizi.censimento.GestioneFabbricatiServlet</servlet-class>
	</servlet>
	<servlet>
	    <description>Controller del composer</description>
	    <display-name>ComposerServlet</display-name>
	    <servlet-name>ComposerServlet</servlet-name>
	    <servlet-class>it.prato.comune.tolomeo.web.composer.ComposerServlet</servlet-class>
	</servlet>
	<servlet>
	    <description>Per recupero codici TPN</description>
	    <display-name>TolomeoTPNServlet</display-name>
	    <servlet-name>TolomeoTPNServlet</servlet-name>
	    <servlet-class>it.prato.comune.tolomeo.web.composer.TolomeoTPNServlet</servlet-class>
	</servlet>	
	<servlet>
	    <description>Servlet di esortazione preset</description>
	    <display-name>ExportFileServlet</display-name>
	    <servlet-name>ExportFileServlet</servlet-name>
	    <servlet-class>it.prato.comune.tolomeo.web.composer.ExportFileServlet</servlet-class>
	</servlet>	
	<servlet>
	    <description>Servlet di importazione preset</description>
	    <display-name>ImportFileServlet</display-name>
	    <servlet-name>ImportFileServlet</servlet-name>
	    <servlet-class>it.prato.comune.tolomeo.web.composer.ImportFileServlet</servlet-class>
	</servlet>	
	<servlet>
	    <description>Servlet recupero xsd</description>
	    <display-name>XsdServlet</display-name>
	    <servlet-name>XsdServlet</servlet-name>
	    <servlet-class>it.prato.comune.tolomeo.web.composer.XsdServlet</servlet-class>
	</servlet>	
	<servlet>
	    <description>Servlet validazione xsd</description>
	    <display-name>XsdValidation</display-name>
	    <servlet-name>XsdValidation</servlet-name>
	    <servlet-class>it.prato.comune.tolomeo.web.composer.XsdValidation</servlet-class>
	</servlet>	
	<servlet>
	    <description>Recupero parametri js</description>
	    <display-name>TolomeoParamsJSServlet</display-name>
	    <servlet-name>TolomeoParamsJSServlet</servlet-name>
	    <servlet-class>it.prato.comune.tolomeo.web.composer.TolomeoParamsJSServlet</servlet-class>
	</servlet>		
	<servlet>
		<description>
		</description>
		<display-name>
		ResocontoFabbricatiServlet</display-name>
		<servlet-name>ResocontoFabbricatiServlet</servlet-name>
		<servlet-class>
		it.prato.comune.tolomeo.servizi.censimento.ResocontoFabbricatiServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ExportToQgisServlet</display-name>
		<servlet-name>ExportToQgisServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.web.toc.export.qgis.ExportToQgisServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>MirrorServlet</servlet-name>
	    <url-pattern>/MirrorServlet</url-pattern>
	</servlet-mapping>
    

	<servlet-mapping>
        <servlet-name>CaricaDatiEsempioBaseServlet</servlet-name>
        <url-pattern>/esempiobase/CaricaDatiEsempioBaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestioneEsempioBaseServlet</servlet-name>
        <url-pattern>/esempiobase/GestioneEsempioBaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaEsempioBaseServlet</servlet-name>
        <url-pattern>/esempiobase/VisualizzaEsempioBaseServlet</url-pattern>
    </servlet-mapping>	
    <servlet-mapping>
        <servlet-name>ToloExtParamsJSServlet</servlet-name>
        <url-pattern>/ToloExtParamsJSServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterBuilderMetadataServlet</servlet-name>
        <url-pattern>/FilterBuilderMetadataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchExportServlet</servlet-name>
        <url-pattern>/SearchExportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StyleManagerServlet</servlet-name>
        <url-pattern>/StyleManagerServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>LayerItemServlet</servlet-name>
        <url-pattern>/LayerItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UniqueValueServlet</servlet-name>
        <url-pattern>/UniqueValueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxGeometryValidationServlet</servlet-name>
        <url-pattern>/AjaxGeometryValidationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/MenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxSpatialQueryServlet</servlet-name>
        <url-pattern>/AjaxSpatialQueryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxWMSExplorerServlet</servlet-name>
        <url-pattern>/AjaxWMSExplorerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxQueryByIDServlet</servlet-name>
        <url-pattern>/AjaxQueryByIDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxQueryServlet</servlet-name>
        <url-pattern>/AjaxQueryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxSuggestServlet</servlet-name>
        <url-pattern>/AjaxSuggestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxSuggestServlet</servlet-name>
        <url-pattern>/TopoSuggestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeometryUpdateServlet</servlet-name>
        <url-pattern>/GeometryUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxTOCLayerInfoServlet</servlet-name>
        <url-pattern>/AjaxTOCLayerInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxTOCServletExt</servlet-name>
        <url-pattern>/AjaxTOCServletExt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TolomeoPrintServlet</servlet-name>
        <url-pattern>/TolomeoPrintServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TolomeoPrintPDFServlet</servlet-name>
        <url-pattern>/TolomeoPrintPDFServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StampaMappaServlet</servlet-name>
        <url-pattern>/StampaMappaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestPrintServlet</servlet-name>
        <url-pattern>/TestPrintServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>TolomeoMainServlet</servlet-name>
        <url-pattern>/TolomeoMainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TolomeoProxyServlet</servlet-name>
        <url-pattern>/WifiMapProxyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MapProxyServlet</servlet-name>
        <url-pattern>/MapProxyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaSezioneServlet</servlet-name>
        <url-pattern>/elettorale/VisualizzaSezioneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaStatisticaPoligonoServlet</servlet-name>
        <url-pattern>/elettorale/VisualizzaStatisticaPoligonoServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>VisualizzaIntersectAnagrafeServlet</servlet-name>
        <url-pattern>/shared/VisualizzaIntersectAnagrafeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaReportAnagrafeServlet</servlet-name>
        <url-pattern>/shared/CreaReportAnagrafeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaPiazzolaServlet</servlet-name>
        <url-pattern>/asm/VisualizzaPiazzolaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaricaDatiSinistroServlet</servlet-name>
        <url-pattern>/poliziaMunicipale/CaricaDatiSinistroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestioneSinistroServlet</servlet-name>
        <url-pattern>/poliziaMunicipale/GestioneSinistroServlet</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>VisualizzaSinistroServlet</servlet-name>
        <url-pattern>/poliziaMunicipale/VisualizzaSinistroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaSinistroInforServlet</servlet-name>
        <url-pattern>/poliziaMunicipale/VisualizzaSinistroInforServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserisciUbicazioniServlet</servlet-name>
        <url-pattern>/gss/InserisciUbicazioniServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaricaDatiUbicazioniServlet</servlet-name>
        <url-pattern>/gss/CaricaDatiUbicazioniServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserisciZonaInterrogazServlet</servlet-name>
        <url-pattern>/gss/InserisciZonaInterrogazServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaricaDatiZonaInterrogazServlet</servlet-name>
        <url-pattern>/gss/CaricaDatiZonaInterrogazServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaPlessoInfanziaServlet</servlet-name>
        <url-pattern>/pubblicaIstruzione/VisualizzaPlessoInfanziaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaPlessoPrimariaServlet</servlet-name>
        <url-pattern>/pubblicaIstruzione/VisualizzaPlessoPrimariaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaPlessoSecondariaPGServlet</servlet-name>
        <url-pattern>/pubblicaIstruzione/VisualizzaPlessoSecondariaPGServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaStatisticaSimulazioneServlet</servlet-name>
        <url-pattern>/pubblicaIstruzione/VisualizzaStatisticaSimulazioneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaReportServlet</servlet-name>
        <url-pattern>/pubblicaIstruzione/CreaReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BambiniPlessiReportServlet</servlet-name>
        <url-pattern>/pubblicaIstruzione/BambiniPlessiReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaricaDatiImpiantoServlet</servlet-name>
        <url-pattern>/telefoniaMobile/CaricaDatiImpiantoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestioneImpiantoServlet</servlet-name>
        <url-pattern>/telefoniaMobile/GestioneImpiantoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaImpiantoServlet</servlet-name>
        <url-pattern>/telefoniaMobile/VisualizzaImpiantoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestioneReportServlet</servlet-name>
        <url-pattern>/telefoniaMobile/GestioneReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestioneProgettoServlet</servlet-name>
        <url-pattern>/glup/GestioneProgetto</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>GestioneAppaltoServlet</servlet-name>
        <url-pattern>/glup/GestioneAppalto</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>GestioneCantiereServlet</servlet-name>
        <url-pattern>/glup/GestioneCantiere</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestioneDittaServlet</servlet-name>
        <url-pattern>/glup/GestioneDitta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestioneReferenteServlet</servlet-name>
        <url-pattern>/glup/GestioneReferente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestioneIncaricatoServlet</servlet-name>
        <url-pattern>/glup/GestioneIncaricato</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>CaricaDatiDepositoServlet</servlet-name>
        <url-pattern>/edilizia/CaricaDatiDepositoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestioneDepositoServlet</servlet-name>
        <url-pattern>/edilizia/GestioneDepositoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaDepositoServlet</servlet-name>
        <url-pattern>/edilizia/VisualizzaDepositoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaPrenotazioneServlet</servlet-name>
        <url-pattern>/pau/VisualizzaPrenotazioneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaricaDatiPrenotazioneServlet</servlet-name>
        <url-pattern>/pau/CaricaDatiPrenotazioneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionePrenotazioneServlet</servlet-name>
        <url-pattern>/pau/GestionePrenotazioneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaTipologiaServlet</servlet-name>
        <url-pattern>/pau/VisualizzaTipologiaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestioneTipologiaServlet</servlet-name>
        <url-pattern>/pau/GestioneTipologiaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaTrattaServlet</servlet-name>
        <url-pattern>/fibreOttiche/VisualizzaTrattaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaNodoServlet</servlet-name>
        <url-pattern>/fibreOttiche/VisualizzaNodoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticaCensimentoServlet</servlet-name>
        <url-pattern>/censimento/StatisticaCensimentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestioneFabbricatiServlet</servlet-name>
        <url-pattern>/censimento/GestioneFabbricatiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestioneUbicazioneServlet</servlet-name>
        <url-pattern>/pianoPubblicita/GestioneUbicazioneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaUbicazioneServlet</servlet-name>
        <url-pattern>/pianoPubblicita/VisualizzaUbicazioneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ZonaClasseOggettoServlet</servlet-name>
    	<url-pattern>/pianoPubblicita/ZonaClasseOggettoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CreaReportCimiteriServlet</servlet-name>
    	<url-pattern>/cimiteri/CreaReportCimiteriServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>VisualizzaClasseAcusticaServlet</servlet-name>
    	<url-pattern>/strumentiUrb/classificazioneAcustica/VisualizzaClasseAcusticaServlet</url-pattern>
    </servlet-mapping>	
    <servlet-mapping>
    	<servlet-name>ElencoItinerariFaseServlet</servlet-name>
    	<url-pattern>/procivPianoNeve/ElencoItinerariFaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>VisualizzaItinerarioServlet</servlet-name>
    	<url-pattern>/procivPianoNeve/VisualizzaItinerarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>TolomeoProxyServlet</servlet-name>
    	<url-pattern>/TolomeoProxyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>GestioneFabbricatiServlet</servlet-name>
    	<url-pattern>/GestioneFabbricatiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
	    <servlet-name>ComposerServlet</servlet-name>
	    <url-pattern>/ComposerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>TolomeoTPNServlet</servlet-name>
	    <url-pattern>/TolomeoTPNServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ExportFileServlet</servlet-name>
	    <url-pattern>/ExportFileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ImportFileServlet</servlet-name>
	    <url-pattern>/ImportFileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>XsdServlet</servlet-name>
	    <url-pattern>/XsdServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>XsdValidation</servlet-name>
	    <url-pattern>/XsdValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>TolomeoParamsJSServlet</servlet-name>
	    <url-pattern>/TolomeoParamsJSServlet</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
        <servlet-name>ResocontoFabbricatiServlet</servlet-name>
        <url-pattern>/censimento/ResocontoFabbricatiServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExportToQgisServlet</servlet-name>
		<url-pattern>/ExportToQgisServlet</url-pattern>
	</servlet-mapping>
	
	<!-- Inizio Piano Neve 2013 -->
    <servlet>
		<servlet-name>CaricaLivelliServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.procivPianoNeve.anno2013.CaricaLivelliServlet</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>CaricaLivelliServlet</servlet-name>
    	<url-pattern>/procivPianoNeve2013/CaricaLivelliServlet</url-pattern>
    </servlet-mapping>
    <servlet>
		<servlet-name>ElencoOggettiFaseServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.procivPianoNeve.anno2013.ElencoOggettiFaseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>ElencoOggettiFaseServlet</servlet-name>
    	<url-pattern>/procivPianoNeve2013/ElencoOggettiFaseServlet</url-pattern>
    </servlet-mapping>
    <servlet>
		<servlet-name>VisualizzaOggettoServlet</servlet-name>
		<servlet-class>it.prato.comune.tolomeo.servizi.procivPianoNeve.anno2013.VisualizzaOggettoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>VisualizzaOggettoServlet</servlet-name>
    	<url-pattern>/procivPianoNeve2013/VisualizzaOggettoServlet</url-pattern>
    </servlet-mapping>
	<!-- Fine Piano Neve 2013 -->
   	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/jsp/errore.jsp</location>
	</error-page>
</web-app>